body {
    text-align: center;
    font-family: 'Outfit', sans-serif;
    background-color: hsl(0, 0%, 100%)
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    background-color: hsl(212, 45%, 89%);
    height: 800px;
    width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 20px rgb(0 0 0 / 0.2);
}

.card-container {
    width: 300px;
    height: 500px;
    border-radius: 20px;
    padding: 15px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 3px 20px rgb(0 0 0 / 0.2);
}

.card-img img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.content h2 {
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

.content p {
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}

/* Media Queries */
@media screen and (max-width: 375px) {
    body {
        background-color: hsl(212, 45%, 89%);
    }

    .box {
        box-shadow: none;
    }
}